<div class="timeline">
  {{ $pages := .Pages.ByDate }}
  {{ range $i, $page := $pages }}
    <div class="timeline-item snap-section {{ if (modBool $i 2) }}timeline-item-right{{ else }}timeline-item-left{{ end }} reveal">
      <div class="timeline-content bg-gray-200 dark:bg-white rounded-lg p-6 shadow-lg">
        <p class="text-gray-800 dark:text-black mb-4">{{ .PublishDate.Format "January 2, 2006" }}</p>
        <h5 class="text-gray-800 dark:text-black h5">{{ .Summary }}</h5>
        <a href="{{ .Permalink }}" class="btn btn-primary mt-4">Read More</a>
      </div>
      <div class="timeline-opposite-text reveal">
        <h4 class="h4 mb-2">{{ .Title }}</h4>
        <p class="text-gray-600 dark:text-gray-400">{{ .PublishDate.Format "January 2, 2006" }}</p>
      </div>
    </div>
  {{ end }}
</div>