<div class="timeline">
  {{ $pages := .Pages.ByDate.Reverse }}
  {{ range $i, $page := $pages }}
    <div class="timeline-item {{ if (modBool $i 2) }}timeline-item-right{{ else }}timeline-item-left{{ end }} reveal snap-section">
      <div class="timeline-content bg-gray-200 dark:bg-darkmode-body rounded-lg p-6 shadow-lg">
        {{ with .Params.image }}
          <img src="{{ . | relURL }}" alt="{{ $page.Title }}" class="mb-6 w-full rounded-lg" />
        {{ else }}
          <img src="/images/image-placeholder.png" alt="Placeholder Image" class="mb-6 w-full rounded-lg" />
        {{ end }}
        <h3 class="h4 mb-2">
          <a href="{{ $page.Permalink }}">{{ .Title }}</a>
        </h3>
        <p class="text-gray-800 dark:text-gray-200 mb-4">{{ .PublishDate.Format "January 2, 2006" }}</p>
        <p class="text-gray-800 dark:text-gray-200">{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="btn btn-primary mt-4">Read More</a>
      </div>
      <div class="timeline-opposite-text reveal">
        <h4 class="h4 mb-2">{{ .Title }}</h4>
        <p class="text-gray-600 dark:text-gray-400">{{ .PublishDate.Format "January 2, 2006" }}</p>
      </div>
    </div>
  {{ end }}
</div>