{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <div class="col-12">
          <div class="row">
            {{/* Paginate and list regular pages (children) in this section */}}
            {{ $paginator := .Paginate .RegularPages }}
            {{ range $paginator.Pages }}
              <div class="md:col-6 mb-14">
                {{/* Render without image for a cleaner reflections UX */}}
                <div class="bg-body dark:bg-darkmode-body">
                  <h4 class="mb-3">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </h4>
                  <p class="mb-6">{{ .Summary | plainify }}</p>
                  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
                </div>
              </div>
            {{ end }}
          </div>
          {{ partial "components/pagination.html" . }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
