{{ define "main" }}
  <div class="snap-container">
    <!-- Banner -->
    {{ with .Params.banner }}
      <section class="snap-section">
        <div class="relative flex items-center justify-center h-full w-full">
          <div class="container relative z-10">
            <div class="row justify-center">
              <div class="lg:col-7 md:col-9 mb-8 text-center text-white">
                <h1 class="mb-4 text-h3 lg:text-h1">
                  {{ .title | markdownify }}
                </h1>
                <h1 class="mb-4 text-h2 lg:text-h0"  style="color: #28a745; font-size: 6.5rem; line-height: 1.2;">
                  {{ .greentitle | markdownify }}
                </h1>
                <p class="mb-8">
                  {{ .content | markdownify }}
                </p>
                <p class="mb-8 text-lg" style="font-size: 2.25rem;">
                    {{ .titlecontent | markdownify }}
                  </p>
                {{ with .button }}
                  {{ if .enable }}
                    <a
                      class="btn btn-primary"
                      href="{{ .link | absURL }}"
                      {{ if strings.HasPrefix .link `http` }}
                        target="_blank" rel="noopener"
                      {{ end }}>
                      {{ .label }}
                      <i class="fa fa-arrow-right pl-2"></i>
                    </a>
                  {{ end }}
                {{ end }}
              </div>
            </div>
          </div>
          <div class="absolute inset-0">
            <div class="absolute inset-0 bg-black/70"></div>
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "w-full h-full object-cover blur-sm" ) }}
          </div>
        </div>
      </section>
    {{ end }}
    <!-- /Banner -->

    <!-- Features -->
    {{ range $i, $e:= .Params.features }}
      <section class="snap-section">
          <div class="container">
            <div class="row items-center justify-between">
              {{ if .iframe_url }}
              <div class="row">
                <div class="lg:col-2">
                  <h2 class="mb-4">
                    {{ .title | markdownify }}
                  </h2>
                  <p class="mb-8 text-lg">
                    {{ .content | markdownify }}
                  </p>
                </div>
                <div class="lg:col-10" >
                  <div class="relative mx-auto iframe-container" style="padding-bottom: 56.25%;" id="our-prototype">
                    <div class="iframe-placeholder absolute inset-0 flex items-center justify-center bg-black/50 cursor-pointer">
                      <button class="launch-button text-white text-xl px-6 py-3 rounded-lg bg-blue-600 hover:bg-blue-700">Launch Prototype</button>
                    </div>
                    <iframe class="absolute inset-0 w-full h-full hidden" style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="100%" src="{{ .iframe_url }}" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            {{ else }}
              <div class="row items-center justify-between">
                <div
                  class="mb:md-0 {{ if not (modBool $i 2) }}
                    md:order-2
                  {{ end }} md:col-5 mb-6">
                  {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
                </div>
                <div
                  class="{{ if not (modBool $i 2) }}
                    md:order-1
                  {{ end }} md:col-7 lg:col-6">
                  <h2 class="mb-4">
                    {{ .title | markdownify }}
                  </h2>
                  <p class="mb-8 text-lg">
                    {{ .content | markdownify }}
                  </p>
                  <ul>
                    {{ range .bulletpoints }}
                      <li class="relative mb-4 pl-6">
                        <i class="fa fa-check absolute left-0 top-1.5"></i>
                        {{ . | markdownify }}
                      </li>
                    {{ end }}
                  </ul>
                  <ul>
                    {{ range .bulletpointstimes }}
                      <li class="relative mb-4 pl-6">
                        <i class="fa fa-times absolute left-0 top-1.5"></i>
                        {{ . | markdownify }}
                      </li>
                    {{ end }}
                  </ul>
                </div>
              </div>
            {{ end }}
            </div>
          </div>
      </section>
    {{ end }}
    <!-- /Features -->

  </div>
{{ end }}